<figure {% if type %}class="{{ type }}"{% endif %}>
    {% if link %} <a href="{{ link }}}"> {% endif %}
        <picture>
            {% if config.extra.generate_jpeg_xl %}
                {% set image = resize_image(path=page.colocated_path ~ src, width=15000, height=15000, op="fit", format="jxl") %}
                <source srcset="{{ image.url }}" type="image/jxl">
            {% endif %}
            <img decoding="async" loading="lazy" class="!mb-0" src="{{ src }}" {%- if alt %}alt="{{ alt }}"{% endif %}/>
        </picture>
    {% if link %} </a> {% endif %}
    {% if body %}
    <figcaption class="text-sm text-center">
        {{ body | markdown(inline=true) | safe }}
    </figcaption>
    {% endif %}
</figure>