<div class="absolute w-full h-full pointer-events-none">
    <a href="#{{ id }}" aria-label="Anchor link for: {{ id }}" class="pointer-events-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="!inline w-6 h-full ml-0 mr-0 md:-ml-10 md:mr-2 opacity-10 hover:opacity-100 transition hover:text-red-500 float-right md:float-left">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
        </svg>
    </a>
</div>