{% extends "base.html" %}

{% block title %}
<title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{% block meta_content %}
<meta property="og:type" content="article"/>

{% set card_path = page.colocated_path ~ "card.png" %}
{% set meta = get_image_metadata(path=card_path, allow_missing=true) %}
{% if meta %}
    {% set card = resize_image(path=card_path, width=meta.width, height=meta.height) %}
    <meta property="twitter:image" content="{{ card.url }}">
    <meta property="og:image" content="{{ card.url }}">
    <meta name="twitter:card" content="summary_large_image">
{% else %}
    <meta name="twitter:card" content="summary">
{% endif %}
{% endblock meta_content %}

{% block content %}
<article class="grid-prose {% if page.extra.nsfw %} blur-children {% endif %} transition prose prose-h2: max-w-full prose-stone prose-base md:prose-lg dark:prose-invert">
    <div class="flex flex-col mb-4">
        <h1 class="!mb-2 !mt-0 sm:!mt-8 text-center !blur-none">{{ page.title }}</h1>
        {% if page.date %}
        <label class="text-center text-stone-500 !blur-none">Posted on <time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%B %d, %Y") }}</time> • {{ page.reading_time }} minute read</label>
        {% endif %}
        <div class="flex flex-shrink justify-center text-white">
            {% if page.extra.unlisted %}<span class="bg-gray-600 p-1 m-1 text-sm pl-2 pr-2 rounded">Unlisted</span>{% endif %}
            {% if page.extra.nsfw %}<span class="bg-purple-600 p-1 m-1 text-sm pl-2 pr-2 rounded">NSFW - 18+</span>{% endif %}
        </div>
    </div>

    {% set banner_path = page.colocated_path ~ "banner.png" %}
    {% set meta = get_image_metadata(path=banner_path, allow_missing=true) %}
    {% if meta %}
    {% set banner = resize_image(path=banner_path, width=meta.width, height=meta.height) %}
    <figure class="break-out !blur-none !mb-4 !mt-0">
        <div class="bg-stone-200 dark:bg-slate-700 sm:rounded-lg">
            <picture>
                <img height="500px" {% if page.extra.banner_ratio %} style="aspect-ratio: {{ page.extra.banner_ratio }};" {% endif %} class="{% if page.extra.banner_height %} object-cover {% endif %} w-full rounded-none sm:rounded-lg animate-in fade-in duration-500 !mb-0" src="{{ banner.url }}" alt="{{ page.extra.banner_alt }}"/>
            </picture>
        </div>
        {% if page.extra.banner_label %}
        <figcaption class="text-sm text-center">{{ page.extra.banner_label | markdown(inline=true) | safe }}</figcaption>
        {% endif %}
    </figure>
    {% endif %}

    {% if page.extra.nsfw %}
    <div class="p-2 not-prose bg-purple-700 border-purple-500 rounded-md border-4 !blur-none">
        <h2 class="text-xl text-white font-bold">NSFW Warning</h2>
        <fieldset class="text-center text-white">
            <legend>Enter Your Birthday</legend>
            <div class="inline-block">
                <label class="block">DD</label>
                <input type="text" pattern="[0-9]*" maxlength="2" size="2" class="rounded p-2 text-black" />
            </div>
            /
            <div class="inline-block">
                <label class="block">MM</label>
                <input type="text" pattern="[0-9]*" maxlength="2" size="2" class="rounded p-2 text-black" />
            </div>
            /
            <div class="inline-block">
                <label class="block">YYYY</label>
                <input type="text" pattern="[0-9]*" maxlength="4" size="4" class="rounded p-2 text-black" />
            </div>
            <p><small>E.g. 26/04/1980</small></p>
            <button class="">Submit</button>
        </fieldset>
    </div>
    {% endif %}

    {{ page.content | safe }}

    {% if page.extra.enable_comments %}
<!--    <hr class="!mb-4 !mt-4">-->
<!--    <script src="https://giscus.app/client.js"-->
<!--            data-repo="videah/blog"-->
<!--            data-repo-id="R_kgDOIbbXcw"-->
<!--            data-category="Announcements"-->
<!--            data-category-id="DIC_kwDOIbbXc84CSiXN"-->
<!--            data-mapping="pathname"-->
<!--            data-strict="0"-->
<!--            data-reactions-enabled="1"-->
<!--            data-emit-metadata="0"-->
<!--            data-input-position="top"-->
<!--            data-theme="preferred_color_scheme"-->
<!--            data-lang="en"-->
<!--            crossorigin="anonymous"-->
<!--            async>-->
<!--    </script>-->
<!--    <div class="giscus mt-8"></div>-->
    <hr class="!mb-4 !mt-4">
    <div class="giscus prose-stone dark:prose-invert">
        <h3>There was a comment section here. It's gone now.</h3>
        <p>
            As of March 16th, 2025 the United Kingdom's <a href="https://en.wikipedia.org/wiki/Online_Safety_Act_2023">Online Safety Act</a>
            has gone into full effect. The law presents a lot of challenges for hobbyist websites like this one to present any user-to-user
            content (like y'know, <i>blog comments</i>) and comes with some pretty serious repercussions for non-compliance.
        </p>
        <p>
            The odds of Ofcom (the regulator who's job is to enforce this) kicking my door down over this blog are low if we are being honest with ourselves.
            But the odds are at least somewhere above zero and the punishment is a life ruining <strong>£18 million fine(!!)</strong> so it's just not worth the risk.
            taking the risk.
        </p>
        <p>
            A kind lawyer has written up the <a href="https://onlinesafetyact.co.uk/ra_blog_with_comments/">implications of this law for self-run blogs like this one</a> and the only way to guarantee
            that I am not in-scope would be to manually review all comments made before being available to the public. Not to be a big baby about it all but I don't really want to do this! I liked my current setup!
        </p>
        <p>
            So I guess as a little act of protest and to hedge against any risk I've removed the comment section entirely. Sorry about that!
        </p>
        <p>
            If you want more information on this and how much this sucks for the hobbyist internet <a href="https://lobste.rs/s/ukosa1/uk_users_lobsters_needs_your_help_with#c_xevn8a">please read this writeup</a>.
        </p>
    </div>
    <script src="{{ get_url(path='/js/rantsona-layout.js', cachebust=true) }}"></script>
    {% endif %}
</article>
{% endblock content %}